* {
    margin: 0;
    padding: 0;
}

.icone-e-busca {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    display: flex;
    background-color: brown;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 20px;
}


main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin: 20px;
    background-color: lightcoral;
}

.imagem {
    max-width: 50px;
}

.video {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 5px black;
}

footer {
    background-color: brown;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 20px;
}