* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.icone-e-busca {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}

header {
    display: flex;
    background-color: brown;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 20px;
}

body {
    background-color: lightcoral;
    min-height: 100vh;
}

#main {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin: 0;
    height: 100vh;
    margin: 40px;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin: 20px;
    background-color: lightcoral;
}

.imagem {
    width: 100%;
    max-width: 200px;
    max-height: 180px;
}

.video {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 5px black;
    max-width: 300px;
    max-height: 400px;
    background-color: white;
    text-align: center;

}

.videoplayer {
    max-width: 300px;
}

footer {
    background-color: brown;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 20px;
}

@media screen and (min-device-width: 300px) {
    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .video {
        font-size: 2vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-shadow: 2px 2px 5px black;
        max-width: 30vh;
        min-height: min-content;
        background-color: white;
        text-align: center;
    }
}